@import url(http://fonts.googleapis.com/css?family=Spinnaker);

body {
	background-color: #f2f3e7;
	min-width: 850px;
	/*padding-top: 120px;*/
}

.header_container {
	height: 150px;
	border-bottom:4px solid #C5C5C5;
	background-color: #FFFFFF;
	padding:25px;
	box-sizing: border-box;
	/*position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;*/
}

.navbar {
	float: right;
}

.nav {
	list-style: none;
	float: right;
	padding: 10px;
	font-family: "Spinnaker", sans-serif;
	color: #444233;
}

.star_container {
	/*height: 100px;
	width: 100%;*/
	text-align: center;
	background-color: pink;
}

.starimg {
	text-align: center;
	display: inline-block;
	/*margin-top: 20px;*/
	background-color: black;
}

hr {
	border: none;
	border-top: solid #CECFD1;
	width: 350px;
	border-width: 2px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	padding-bottom: 8px;
}